.navbar>nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left:100px;
    gap: 20px;
    
}
.navbar{
    position: sticky;
    top: 0;
}
nav>a{
    text-decoration: none;
    color: black;
}
.dropdown>a{
    text-decoration: none;
    color: black;
}
li>a{
    text-decoration: none;
    color: black;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    background-color: rgb(241, 228, 228);
    position: absolute;
    margin-left: -50px;
    padding: 10px;
    
}
.dropdown:hover .dropdown-content{
    display: inline-block;
    margin-top: 30px;
    padding-right: 20px;
    width: 230px;
}
nav>a:hover {
    color: orange;
}
.dropdown>a:hover {
    color: orange;
}
.dropdown-content:hover ul>li{
    height: 25px;
    width: 160px;
}
ul>li{
    list-style-type: none ;
}
.abou{
    background-image: url('hands.jpg');
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    background-size:cover;
}
.abou2>div{
    text-align: center;
    padding-left: 40px;
    padding-top: 90px;
}
.wel{
    height: 90vh;
    display: flex;
    width: 100%;
    margin-top: -100px;
}
.wel1{
    padding-left: 80px; 
    padding-top: 200px;
}
.wel2>img{
    position:  absolute; 
    width: 500px;
    padding-left: 50px;
    padding-top: 100px;
    margin-left: 50px;
}
.wel3>img{
    position:relative;  
    width: 400px;
    border: 15px solid #FFFFFF;
    height: 70vh; 
}
.wel5{
    width: 500px; 
    padding-top: 200px;
    margin-left:250px;
}
.our{
    display: flex;
    width: 900px;
    padding-left: 200px;
    padding-top: 20px;
}
.our1{
    display: flex;
}
.our4{
    display: flex;
    padding-left: 20px;
}

.our2>img{
    padding-top: 10px;
}
.our5>img{
    padding-top: 10px;
}
.dis>button{
    border-radius: 30px;
    margin-left: 200px;
    background-color: #ECA215;
    border:1px solid #ECA215;
    width: 230px;
    height: 50px;
    margin-top: 60px;
}
.promo{
    background-color: black;
    height: 600px;
    display: flex;
    width: 100%;
    margin-top: 400px;
}
.promo1>img{
    height: 500px;
}
.promo2{
    color: white;
    margin-left: 80px;
    margin-top: 50px;
    width: 1500px;
}
.promo2>h6{
    font-size:larger;
    margin-top: 30px;
    line-height: 30px;
    font-family: lato,sans-serif;
}
.what{
    background-color: #FFFFFF;
    height: 1300px;
    width: 100%;
}
.what1{
    padding-top: 700px;
    text-align: center;
}
.what1>h4{
    color: orange;
}
.help{
    position: relative;
    opacity: 0.7; 
    width: 100%;
}  
.help2>div{
    bottom: 130px;
    position:absolute;
    margin-left: 450px;
    text-align: center;
    color: white;
}

.UP1{
    text-align: center;
    padding-top: 50px;
}
.UP1>h5{
    color: #ECA215;
}
.UP{
    margin-right: 50px;
    height: 850px;
    text-align: center;
    padding-top: 20px;
}
.UP>h5{
    color: orange;
}
.up{
    display: flex;
    
    gap: 50px;
    padding-top: 60px;
}
.up1>img{
    width: 370px;
    border-radius: 40px;
}
.up2>img{
    width: 370px;
    border-radius: 40px;
}
.up3>img{
    width: 370px;
    border-radius: 40px;
}

.UP{
    width: 100%;
    display: flex;
    height: 600px;
    gap: 1%;
    padding-left: 60px;
    margin-top: 50px;
}
.up1{
    position: relative;
    justify-content: center; 
    text-align: center;
    margin-left: 20px;
    color:white;
}
.up2>div{
    bottom: 100px;
    position:absolute;
    min-width: 160px;
    padding: 12px 16px;
}

.up2{
    padding-left: 30px;
}
.up3{
    margin-bottom: 30px;
}

.vision{
    background-image: url('bg copy(2).jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    filter: grayscale(20);
}
.vision>img{
    width: 100%;
    opacity:0;
    position: absolute;
}
.vision1>img{
    position: relative;
    padding-left: 100px;
  
}
.vision2{
    display: flex;
    width: 100%;
    padding-top: 100px;
    justify-content: space-evenly;
}
.vis{
    display: flex;
}
.vis2{
    padding-left: 20px;
}
.vision3>h2{
    color: #FFFFFF;
}
.vision3>h5{
    color: #FFFFFF;
}
.vision4>h2{
    color: #FFFFFF;
}
.vision4>h5{
    color: #FFFFFF;
}
.vision5>h2{
    color: #FFFFFF;
}
.vision5>h5{
    color: #FFFFFF;
}
.vision6>h2{
    color: #FFFFFF;
}
.vision6>h5{
    color: #FFFFFF;
}
.vis2>h5{
    color: #FFFFFF;
}