.navbar>nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left:50px;
    gap: 20px;
    
}
.navbar{
    position: sticky;
    top: 0;
}
nav>a{
    text-decoration: none;
    color: black;
}
.dropdown>a{
    text-decoration: none;
    color: black;
}
li>a{
    text-decoration: none;
    color: black;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    background-color: rgb(241, 228, 228);
    position: absolute;
    margin-left: -50px;
    padding: 10px;
    
}
.dropdown:hover .dropdown-content{
    display: inline-block;
    margin-top: 30px;
    padding-right: 20px;
    width: 230px;
}
nav>a:hover {
    color: orange;
}
.dropdown>a:hover {
    color: orange;
}
.dropdown-content:hover ul>li{
    height: 25px;
    width: 160px;
}
ul>li{
    list-style-type: none ;
}
.abou{
    background-image: url('hands.jpg');
    background-repeat: no-repeat;
    height: 55vh;
    width: 100%;
    background-size:cover;
}
.abou2>div{
    text-align: center;
    padding-left: 40px;
    padding-top: 90px;
}
.promo{
    background-color: black;
    height: 600px;
    display: flex;
    width: 100%;
   
}
.promo1>img{
    height: 500px;
}
.promo2{
    color: white;
    margin-left: 80px;
    margin-top: 50px;
    width: 1500px;
}
.promo2>h6{
    font-size:larger;
    margin-top: 30px;
    line-height: 30px;
    font-family: lato,sans-serif;
}

.vision{
    background-image: url('bg copy(2).jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    filter: grayscale(20);

}
.vision>img{
    width: 100%;
    opacity:0;
    position: absolute;
}
.vision1>img{
    position: relative;
    padding-left: 100px;
  
}
.vision2{
    display: flex;
    width: 100%;
    padding-top: 100px;
    justify-content: space-evenly;
}
.vis{
    display: flex;
}
.vis2{
    padding-left: 20px;
}
.vision3>h2{
    color: #FFFFFF;
}
.vision3>h5{
    color: #FFFFFF;
}
.vision4>h2{
    color: #FFFFFF;
}
.vision4>h5{
    color: #FFFFFF;
}
.vision5>h2{
    color: #FFFFFF;
}
.vision5>h5{
    color: #FFFFFF;
}
.vision6>h2{
    color: #FFFFFF;
}
.vision6>h5{
    color: #FFFFFF;
}
.vis2>h5{
    color: #FFFFFF;
}